@import "tailwindcss";

* button{
 cursor:pointer;
}
form fieldset[disabled]{
  color:black;
  .task-form-loading{
     input,textarea,select{
          background: #969696;
          color:#c9c9c9;
     }
     *::placeholder {
       color:#a8a8a7;
      }
    
  } 
}
.task-component-status-element{
 font-family: Courier;
 font-weight: bold;
  &.task-ongoing{
    background: #56d9e8;
  }
  &.task-completed{
    background: #88cc2f;

  }
  &.task-deleted{

  }
}


select#task-status{
  & option{
    background: white;
  }
  &:has(option[value="Completed"]:checked){
            background: #e6fa07;

  }
  &:has(option[value="Ongoing"]:checked){
        background: #07fab9;
  }

  &:has(option[value="Paused"]:checked){
        background: gold;
  }
  &.task-status-select__disabled{
     color:#999790 !important; 
      background: #303030 !important;
  }
}

li[name="task-component"]{
  &.under-deletion{
    border: 1px red solid;
      background: #303030 !important;
    & *{
      color:#999790 !important; 
      background: #303030 !important;
    }
  }
}
